* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #26263d ;
    color: #cdd6f4;
    font-family: Torus, Inter,"Helvetica Neue", Tahoma, Arial, "Hiragino Kaku Gothic ProN" ,Meiryo ,"Microsoft YaHei" ,"Apple SD Gothic Neo" ,sans-serif;
}                                               

nav {
    background-color: #11111b;
    padding: 15px 30px;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #ff66aa;
}

nav a{
    color: #cdd6f4;
    text-decoration: none;
    font-size:  2.0rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.2s ease;
}

nav a:hover {
    background-color: #ff66aa;
    color:#11111b;
}
.osu-auth-btn {
    background-color: #e5dee1;
    color: #11111b;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 8px;
    margin-top: 10px;
}
.osu-auth-btn:hover {
    background-color: #11111b;
    color: #e5dee1;
    transition: all 0.4s ease-out;
    font-size: 1.3rem;
}
.App {
  padding: 20px; /* Odsuwa treść od krawędzi ekranu */
}

